{% extends "layout.html" %}
{% block title %}Game {{ game_name|replace("_", " ")|title }}{% endblock %}
{% block head %}
{{ super() }}
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    // Use a "/test" namespace.
    // An application can open a connection on multiple namespaces, and
    // Socket.IO will multiplex all those connections on a single
    // physical channel. If you don't care about multiple channels, you
    // can set the namespace to an empty string.
    namespace = '/play';
    game_name = '{{ game_name }}';

    // Connect to the Socket.IO server.
    // The connection URL has the following format, relative to the current page:
    //     http[s]://<domain>:<port>[/<namespace>]
    var socket = io(namespace);

    // Event handler for new connections.
    // The callback function is invoked when a connection with the
    // server is established.
    socket.on('connect', function() {
      socket.emit('join', {room: game_name});
    });
    // nothing to do on join, the server will send the status

    // Event handler for printing error
    socket.on('notification_error', function(msg) {
      $('#notification_error').append(
              '<div class="notification is-danger is-light">\n' +
              '  <button class="delete"></button>\n' +
              $('<div/>').text(msg.message).html() +
              '</div>');
    });
    // server ask to update status or hand or last turn
    socket.on('update_status', function() {
      socket.emit('get_status', {room: game_name});
    });
    socket.on('update_hand', function() {
      socket.emit('get_hand', {room: game_name});
    });
    socket.on('update_table', function() {
      socket.emit('get_table', {room: game_name});
    });
    socket.on('update_last_turn', function() {
      socket.emit('get_last_turn', {room: game_name});
    });
    socket.on('update_points', function() {
      socket.emit('get_points', {room: game_name});
    });
    // receive current status of game and update elements
    socket.on('status', function(msg) {
      // update the text of the status
      // color in yellow if action is needed from the player
      var status_notif = $('#notification_status');
      var button_turn_indicator = $('#button_turn_indicator');
      status_notif.find('p').eq(0).text(msg.message);
      if (msg.action_needed) {
        status_notif.addClass('is-warning').removeClass('is-info');
        status_notif.find('p').eq(0).append('<br><b>It\'s your turn.</b>').show();
        button_turn_indicator.addClass('is-warning is-loading').removeClass('is-info');
        // $('#audio_bell')[0].play();  // play bell sound
      } else {
        status_notif.addClass('is-info').removeClass('is-warning');
        button_turn_indicator.addClass('is-info').removeClass('is-warning is-loading');
      }
      // do nothing more if the game haven't started
      if (msg.status === 'lobby') {
        button_turn_indicator.hide();
        return false;
      }
      // delete start button
      $('#button_start').remove();
      button_turn_indicator.show();
      // remove disable on description field if turn of story teller
      var description_input = $('#description_input');
      if (msg.status === 'tell' && msg.action_needed) {
        description_input.prop("disabled", false);
        description_input.val('');
      } else {
        description_input.prop("disabled", true);
      }
      // update current description
      $('#p_description').text(msg.description);
      // update number of cards remaining
      $('#b_nb_cards_pile').text(msg.nb_cards_pile);
      // if the page was (re)loaded, update everything and do nothing more
      if (msg.on_join) {
        socket.emit('get_hand', {room: game_name});
        socket.emit('get_table', {room: game_name});
        socket.emit('get_points', {room: game_name});
        socket.emit('get_last_turn', {room: game_name});
        return false;
      }
      if (msg.status === 'end_game') {
        socket.emit('get_points', {room: game_name});
      }
    });

    // replace images in hand
    function updateHand(value, index, array) {
      $('#hand').children().eq(index).find('img').attr('src', '/static/img/dixit/'+value+'.png');
      $('#hand').children().eq(index).data('card-id', value);
    }
    socket.on('hand', function(msg) {
      $('#hand').find('img').attr('src', '/static/img/placeholder.png'); // when play a card, the hand has 1 card less, so we replace all by placeholder before updating them
      $('#hand').find('img').data('card-id', 'placeholder');
      msg.ids_cards.forEach(updateHand);
    });

    // replace image in table
    function updateTable(value, index, array) {
      $('#table').children().eq(index).find('img').attr('src', '/static/img/dixit/'+value+'.png');
      $('#table').children().eq(index).data('card-id', value);
    }
    socket.on('table', function(msg) {
      $('#table').find('img').attr('src', '/static/img/placeholder.png');
      $('#table').find('img').data('card-id', 'placeholder');
      msg.ids_cards.forEach(updateTable);
    });

    // display points
    var points_level = $('#points_level');
    function updatePoints(value, index, array) {
      points_level.append(
              '<div class="level-item has-text-centered">' +
              '  <div>' +
              '    <p class="heading">'+$('<p/>').text(value.username).html()+'</p>' +
              '    <p class="title">'  +$('<p/>').text(value.points).html()+'</p>' +
              '  </div>' +
              '</div>'
      );
      if (value.highlight) {
        points_level.children().last().addClass('has-text-primary has-background-grey-lighter');
      }
    }
    socket.on('points', function(msg) {
      points_level.empty();
      msg.points.forEach(updatePoints);
    });

    // handle last turn
    var last_turn_div = $('#last_turn');
    function updateCardLastTurn(value, index, array) {
      var card = last_turn_div.children().eq(index);
      card.find('.gamecard > img').attr('src', '/static/img/dixit/'+value.id_card+'.png');
      card.find('.card-owner').text(value.username);
      card.find('.card-points').text(value.points);
      var list_voterscard = card.find('.list-voters');
      list_voterscard.empty();
      value.usernames_voters.forEach(wrapInLi);
      function wrapInLi(username_voter) {
        list_voterscard.append('<li>'+$('<div/>').text(username_voter).html()+'</li>');
      }
    }
    socket.on('last_turn', function(msg) {
      msg.last_turn.forEach(updateCardLastTurn);
    });

    // handle tell and play from hand
    $('#hand').on('click','.card', function(){
      var id_card = $(this).data('card-id');
      if (id_card === 'placeholder'){
        return false;
      }
      var description =  $('#description_input').val();
      var description_disabled = $('#description_input').prop('disabled');
      // check if input is read only to know if the storyteller is telling or if an other player is playing a card
      if (description_disabled === true) {
        socket.emit('play', {room: game_name, id_card: id_card});
      } else {
        socket.emit('tell', {room: game_name, id_card: id_card, description: description});
      }
    });
    // handle vote from table
    $('#table').on('click','.card', function(){
      var id_card = $(this).data('card-id');
      if (id_card === 'placeholder'){
        return false;
      }
      socket.emit('vote', {room: game_name, id_card: id_card});
    });

    // Handlers for the different forms in the page.
    // These accept data from the user and send it to the server in a
    // variety of ways
    $('form#button_start').submit(function(event) {
      socket.emit('start_game', {room: game_name});
      return false;
    });
    // delete error notification
    $('#notification_error').on('click','.delete', function(){
      $(this).parent().remove();
    });
  });
</script>
{% endblock %}
{% block subtitle %}
Dear <b id="username">{{ username }}</b>, welcome to the game {{ game_name|replace("_", " ")|title }}!
{% endblock %}
{% block content %}
<!-- error notification -->
<div id="notification_error" class="container">
</div>
<!-- normal message -->
<div id="status" class="container">
  <div class="columns">
    <div class="column">
      <div id="notification_status" class="notification is-info is-light">
        <!-- TODO : replace by message class https://bulma.io/documentation/components/message/ -->
        <div class="columns">
          <div class="column is-narrow">
            <!-- button to start game -->
            <form id="button_start" method="POST" action='#'>
              <input type="submit" class="button is-primary" value="Start Game">
            </form>
            <button id="button_turn_indicator" class="button is-hovered is-loading">
            <span class="icon is-small">
              <i class="fas fa-check"></i>
            </span>
            </button>
          </div>
          <div class="column">
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-narrow">
    </div>

  </div>
</div>

<!-- description display -->
<div class="container">
  <h2 class="title is-3">Description</h2>
  <div class="columns">
    <div class="column box">
      <h3 class="label">Current description</h3>
      <p class="has-text-centered is-size-3">
        <b id="p_description">Not set yet</b>
      </p>
    </div>
    <div class="column box">
      <div id="description_field" class="field">
        <label class="label">Enter description</label>
        <div class="control">
          <input id="description_input" class="input is-primary is-rounded" type="text" placeholder="The description of the chosen card" disabled>
        </div>
        <p class="help">The description can be a single word, multiple words, an entire sentence, a quote,
          a extract of a song, etc. It should not be too simple (e.g. "A shell on the beach") nor too hard</p>
      </div>
    </div>
  </div>
</div>

<!-- hand -->
<div class="container">
  <h2 class="title is-3">Your hand</h2>
  <div class="container">
    <div id="hand" class="columns">
      <div class="column card gamecard" data-card-id="placeholder">
        <img src="/static/img/placeholder.png" alt="Card 1">
      </div>
      <div class="column card gamecard" data-card-id="placeholder">
        <img src="/static/img/placeholder.png" alt="Card 2">
      </div>
      <div class="column card gamecard" data-card-id="placeholder">
        <img src="/static/img/placeholder.png" alt="Card 3">
      </div>
      <div class="column card gamecard" data-card-id="placeholder">
        <img src="/static/img/placeholder.png" alt="Card 4">
      </div>
      <div class="column card gamecard" data-card-id="placeholder">
        <img src="/static/img/placeholder.png" alt="Card 5">
      </div>
      <div class="column card gamecard" data-card-id="placeholder">
        <img src="/static/img/placeholder.png" alt="Card 6">
      </div>
    </div>
  </div>
</div>

<!-- table -->
<div class="container">
  <h2 class="title is-3">Table</h2>
  <div class="container">
    <div id="table" class="columns">
      <div class="column card gamecard" data-card-id="placeholder">
        <img src="/static/img/placeholder.png" alt="Card 1">
      </div>
      <div class="column card gamecard" data-card-id="placeholder">
        <img src="/static/img/placeholder.png" alt="Card 2">
      </div>
      <div class="column card gamecard" data-card-id="placeholder">
        <img src="/static/img/placeholder.png" alt="Card 3">
      </div>
      <div class="column card gamecard" data-card-id="placeholder">
        <img src="/static/img/placeholder.png" alt="Card 4">
      </div>
      <div class="column card gamecard" data-card-id="placeholder">
        <img src="/static/img/placeholder.png" alt="Card 5">
      </div>
      <div class="column card gamecard" data-card-id="placeholder">
        <img src="/static/img/placeholder.png" alt="Card 6">
      </div>
    </div>
  </div>
</div>

<!-- current points -->
<div class="container">
  <h2 class="title is-3">Points</h2>
  <nav id="points_level" class="level">
  </nav>
</div>

<!-- result last turn -->
<div class="container">
  <h2 class="title is-3">Last turn</h2>

  <div class="container">
    <div id="last_turn" class="columns">
      <!-- first card-->
      <div class="column card">
        <div class="card-image">
          <figure class="image is-2by3 gamecard">
            <img src="/static/img/placeholder.png" alt="Card 1 of last turn">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <p class="title card-owner"></p>
            <p class="subtitle is-6"><b class="card-points">0</b> points</p>
          </div>
          <div class="media">
            <div class="media-left">
              <p>Voters:</p>
            </div>
            <div class="media-content">
              <ul class="list-voters">
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- another card -->
      <div class="column card">
        <div class="card-image">
          <figure class="image is-2by3 gamecard">
            <img src="/static/img/placeholder.png" alt="Card 1 of last turn">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <p class="title card-owner"></p>
            <p class="subtitle is-6"><b class="card-points">0</b> points</p>
          </div>
          <div class="media">
            <div class="media-left">
              <p>Voters:</p>
            </div>
            <div class="media-content">
              <ul class="list-voters">
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- another card -->
      <div class="column card">
        <div class="card-image">
          <figure class="image is-2by3 gamecard">
            <img src="/static/img/placeholder.png" alt="Card 1 of last turn">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <p class="title card-owner"></p>
            <p class="subtitle is-6"><b class="card-points">0</b> points</p>
          </div>
          <div class="media">
            <div class="media-left">
              <p>Voters:</p>
            </div>
            <div class="media-content">
              <ul class="list-voters">
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- another card -->
      <div class="column card">
        <div class="card-image">
          <figure class="image is-2by3 gamecard">
            <img src="/static/img/placeholder.png" alt="Card 1 of last turn">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <p class="title card-owner"></p>
            <p class="subtitle is-6"><b class="card-points">0</b> points</p>
          </div>
          <div class="media">
            <div class="media-left">
              <p>Voters:</p>
            </div>
            <div class="media-content">
              <ul class="list-voters">
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- another card -->
      <div class="column card">
        <div class="card-image">
          <figure class="image is-2by3 gamecard">
            <img src="/static/img/placeholder.png" alt="Card 1 of last turn">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <p class="title card-owner"></p>
            <p class="subtitle is-6"><b class="card-points">0</b> points</p>
          </div>
          <div class="media">
            <div class="media-left">
              <p>Voters:</p>
            </div>
            <div class="media-content">
              <ul class="list-voters">
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- another card -->
      <div class="column card">
        <div class="card-image">
          <figure class="image is-2by3 gamecard">
            <img src="/static/img/placeholder.png" alt="Card 1 of last turn">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <p class="title card-owner"></p>
            <p class="subtitle is-6"><b class="card-points">0</b> points</p>
          </div>
          <div class="media">
            <div class="media-left">
              <p>Voters:</p>
            </div>
            <div class="media-content">
              <ul class="list-voters">
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- another card -->
    </div>
  </div>
</div>


<!-- current pile -->
<div class="container">
  <h2 class="title is-3">Pile</h2>
  <p>Cards remaining: <b id="b_nb_cards_pile"></b></p>
</div>

<!--
<audio id="audio_bell">
  <source src="/static/audio/bell.ogg" type="audio/ogg">
  <source src="/static/audio/bell.mp3" type="audio/mpeg">
</audio>
-->
{% endblock %}
