{% extends "layout.html" %}
{% block title %}Game {{ game_name|replace("_", " ")|title }}{% endblock %}
{% block head %}
{{ super() }}
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    // Socket.IO namespace
    namespace = '/play';
    // Socket.IO room for all players
    game_name = {{ game_name|tojson }};
    deck_name = {{ deck_name|tojson }};

    // Connect to the Socket.IO server.
    var socket = io(namespace);

    // Event handler for new connections.
    // Join room at connect
    socket.on('connect', function() {
      socket.emit('join', {room: game_name});
    });
    // nothing to do on join, the server will send the status

    // Event handler for printing error
    socket.on('notification_error', function(msg) {
      $('#notification_error').append(
              '<div class="notification is-danger is-light">\n' +
              '  <button class="delete"></button>\n' +
              $('<div/>').text(msg.message).html() +
              '</div>');
    });
    // server ask to update status, hand, last turn, or points
    socket.on('update_status', function() {
      socket.emit('get_status', {room: game_name});
    });
    socket.on('update_hand', function() {
      socket.emit('get_hand', {room: game_name});
    });
    socket.on('update_table', function() {
      socket.emit('get_table', {room: game_name});
    });
    socket.on('update_last_turn', function() {
      socket.emit('get_last_turn', {room: game_name});
    });
    socket.on('update_points', function() {
      socket.emit('get_points', {room: game_name});
    });
    // Event handler for current game status to update its elements
    socket.on('status', function(msg) {
      var previous_status = status || null; // save previous status (status global var)
      status = msg.status; // update current status
      // update the text and the button of the status
      // color in yellow if action is needed from the player
      var status_notif = $('#notification_status');
      var button_turn_indicator = $('#button_turn_indicator');
      status_notif.find('p').eq(0).html(msg.message); // status notification message is assumed to be safe
      if (msg.action_needed) {
        status_notif.addClass('is-warning').removeClass('is-info');
        status_notif.find('p').eq(0).append('<br><b>It\'s your turn.</b>').show();
        button_turn_indicator.addClass('is-warning').removeClass('is-info');
        button_turn_indicator.find('.fa-check').addClass('fa-gamepad').removeClass('fa-check');
        // others FA icons possible: exclamation edit pen arrow-down arrow-alt-circle-down angle-double-down gamepad play layer-group scroll clone address-card
        if (status !== previous_status) {
          $('#audio_bell')[0].play();  // play bell sound only at status change
        }
      } else {
        status_notif.addClass('is-info').removeClass('is-warning');
        button_turn_indicator.addClass('is-info').removeClass('is-warning');
        button_turn_indicator.find('.fa-gamepad').addClass('fa-check').removeClass('fa-gamepad');
      }
      // do nothing more if the game hasn't started
      if (msg.status === 'lobby') {
        button_turn_indicator.hide();
        return false;
      }
      // delete start button
      $('#button_start').remove();
      button_turn_indicator.show();
      // remove disable on description field if turn of story teller
      var description_input = $('#description_input');
      if (msg.status === 'tell' && msg.action_needed) {
        description_input.prop("disabled", false);
        description_input.val('');
      } else {
        description_input.prop("disabled", true);
      }
      // update current description
      if (msg.description) {
        $('#p_description').text(msg.description);
      } else {
        $('#p_description').text("…");
      }
      // update number of cards remaining
      $('#b_nb_cards_pile').text(msg.nb_cards_pile);
      // if the page was (re)loaded, update everything and do nothing more
      if (msg.on_join) {
        socket.emit('get_hand', {room: game_name});
        socket.emit('get_table', {room: game_name});
        socket.emit('get_points', {room: game_name});
        socket.emit('get_last_turn', {room: game_name});
        return false;
      }
      if (msg.status === 'end_game') {
        socket.emit('get_points', {room: game_name});
      }
    });

    // update images and data in hand
    function updateHand(value, index, array) {
      $('#hand').find('.gamecard').eq(index).find('img').attr('src', '/static/img/'+deck_name+'/'+value+'.png');
      $('#hand').find('.gamecard').eq(index).data('card-id', value);
    }
    socket.on('hand', function(msg) {
      $('#hand').find('img').attr('src', '/static/img/placeholder.png'); // when play a card, the hand has 1 card less, so we replace all by placeholder before updating them
      $('#hand').find('.gamecard').data('card-id', 'placeholder');
      msg.ids_cards.forEach(updateHand);
      // hide unused div (keeping the space)
      $('#hand').children().css('visibility', 'visible');
      $('#hand').children().slice(msg.ids_cards.length).css('visibility', 'hidden');
    });

    // update images and data in table
    function updateTable(value, index, array) {
      $('#table').find('.gamecard').eq(index).find('img').attr('src', '/static/img/'+deck_name+'/'+value+'.png');
      $('#table').find('.gamecard').eq(index).data('card-id', value);
    }
    socket.on('table', function(msg) {
      $('#table').find('img').attr('src', '/static/img/placeholder.png');
      $('#table').find('.gamecard').data('card-id', 'placeholder');
      msg.ids_cards.forEach(updateTable);
      // hide unused div (keeping the space)
      $('#table').children().css('visibility', 'visible');
      $('#table').children().slice(msg.ids_cards.length).css('visibility', 'hidden');
    });

    // display points
    var points_level = $('#points_level');
    function updatePoints(value, index, array) {
      points_level.append(
              '<div class="level-item has-text-centered">' +
              '  <div>' +
              '    <p class="heading">'+$('<p/>').text(value.username).html()+'</p>' +
              '    <p class="title">'  +$('<p/>').text(value.points).html()+'</p>' +
              '  </div>' +
              '</div>'
      );
      if (value.highlight) {
        points_level.children().last().addClass('has-text-primary has-background-grey-lighter');
      }
    }
    socket.on('points', function(msg) {
      points_level.empty();
      msg.points.forEach(updatePoints);
    });

    // handle last turn
    var last_turn_div = $('#last_turn');
    function updateCardLastTurn(value, index, array) {
      var card = last_turn_div.children().eq(index);
      card.find('.gamecard > img').attr('src', '/static/img/'+deck_name+'/'+value.id_card+'.png');
      card.find('.card-owner').text(value.username);
      card.find('.card-points').text(value.points);
      if (value.correct_card) {
        card.find('.gamecard').addClass('correct');
        card.find('.voters-star').show();
      } else {
        card.find('.gamecard').removeClass('correct');
        card.find('.voters-star').hide();
      }
      var list_voterscard = card.find('.list-voters');
      list_voterscard.empty();
      value.usernames_voters.forEach(wrapInLi);
      function wrapInLi(username_voter) {
        list_voterscard.append('<li>'+$('<div/>').text(username_voter).html()+'</li>');
      }
    }
    socket.on('last_turn', function(msg) {
      msg.last_turn.forEach(updateCardLastTurn);
      last_turn_div.children().css('visibility', 'visible');
      last_turn_div.children().slice(msg.last_turn.length).css('visibility', 'hidden');
    });

    // handle tell and play from hand
    $('#hand').on('click','.gamecard', function(){
      var id_card = $(this).data('card-id');
      if (id_card === 'placeholder'){
        return false;
      }
      // status is defined in the first status update
      if (status === 'play') {
        socket.emit('play', {room: game_name, id_card: id_card});
      } else if (status === 'tell') {
        var description = $('#description_input').val();
        socket.emit('tell', {room: game_name, id_card: id_card, description: description});
      }
    });
    // handle vote from table
    $('#table').on('click','.gamecard', function(){
      var id_card = $(this).data('card-id');
      if (id_card === 'placeholder'){
        return false;
      }
      socket.emit('vote', {room: game_name, id_card: id_card});
    });

    // handle start game button
    $('form#button_start').submit(function(event) {
      socket.emit('start_game', {room: game_name});
      return false;
    });
    // delete error notification
    $('#notification_error').on('click','.delete', function(){
      $(this).parent().remove();
    });
  });
</script>
{% endblock %}
{% block subtitle %}
Dear <b id="username">{{ username }}</b>, welcome to the game {{ game_name|replace("_", " ")|title }}!
{% endblock %}
{% block content %}
<!-- error notification -->
<div id="notification_error" class="container">
</div>
<!-- normal message -->
<div id="status" class="container">
  <div class="columns">
    <div class="column">
      <div id="notification_status" class="notification is-info is-light">
        <!-- TODO : replace by message class https://bulma.io/documentation/components/message/ -->
        <div class="columns">
          <div class="column is-narrow">
            <!-- button to start game -->
            <form id="button_start" method="POST" action='#'>
              <input type="submit" class="button is-primary" value="Start Game">
            </form>
            <button id="button_turn_indicator" class="button is-hovered">
            <span class="icon is-small">
              <i class="fas fa-check"></i>
            </span>
            </button>
          </div>
          <div class="column">
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-narrow">
    </div>

  </div>
</div>

<!-- description display -->
<div class="container">
  <h2 class="title is-3">Description</h2>
  <div class="columns is-vcentered">
    <div class="column box">
      <h3 class="label">Current description</h3>
      <p class="has-text-centered is-size-3">
        <b id="p_description">…</b>
      </p>
    </div>
    <div class="column box">
      <div id="description_field" class="field">
        <label class="label">Enter description</label>
        <div class="control">
          <input id="description_input" class="input is-primary is-rounded" type="text" placeholder="The description of the chosen card" disabled>
        </div>
        <p class="help">The description can be a single word, multiple words, an entire sentence, a quote,
          a extract of a song, etc. It should not be too simple (e.g. "A shell on the beach") nor too hard</p>
      </div>
    </div>
  </div>
</div>

<!-- hand -->
<div class="container">
  <h2 class="title is-3">Your hand</h2>
  <div class="container">
    <div id="hand" class="columns is-variable is-1">
      {% for i in range(6) %}
      <div class="column is-2">
        <div class="gamecard has-text-centered" data-card-id="placeholder">
          <img src="/static/img/placeholder.png" alt="Card {{ i }}">
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- table -->
<div class="container">
  <h2 class="title is-3">Table</h2>
  <div class="container">
    <div id="table" class="columns is-variable is-1">
      {% for i in range(6) %}
      <div class="column is-2">
        <div class="gamecard has-text-centered" data-card-id="placeholder">
          <img src="/static/img/placeholder.png" alt="Card {{ i }}">
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- current points -->
<div class="container">
  <h2 class="title is-3">Points</h2>
  <nav id="points_level" class="level">
  </nav>
</div>

<!-- result last turn -->
<div class="container">
  <h2 class="title is-3">Last turn</h2>

  <div class="container">
    <div id="last_turn" class="columns">
      {% for i in range(6) %}
      <!-- card-->
      <div class="column is-2">
        <div class="card">
          <div class="card-image">
            <figure class="image is-2by3 gamecard">
              <img src="/static/img/placeholder.png" alt="Card 1 of last turn">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <p class="title card-owner"></p>
              <p class="subtitle is-6"><b class="card-points">0</b> points</p>
            </div>
            <div class="media">
              <div class="media-left">
                <p>
                <span class="icon is-small voters-star">
                  <i class="fas fa-star has-text-warning"></i>
                </span>
                  Voters
                </p>
              </div>
              <div class="media-content">
                <ul class="list-voters">
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


<!-- current pile -->
<div class="container">
  <h2 class="title is-3">Pile</h2>
  <p>Cards remaining: <b id="b_nb_cards_pile"></b></p>
</div>


<audio id="audio_bell">
  <source src="/static/audio/bell.ogg" type="audio/ogg">
  <source src="/static/audio/bell.mp3" type="audio/mpeg">
</audio>
{% endblock %}
