{% extends "layout.html" %}
{% block title %} Lobby {% endblock %}
{% block head %}
  {{ super() }}
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('#input_game_name').val({{ random_game_name|tojson }});
      // redirect to game URL on click
      $('#button_create_game').click(function() {
        window.location.href = '/game/' + $('#input_game_name').val();
        return false;
      });
    });
  </script>
{% endblock %}
{% block subtitle %}
Virtual board game between friends!
{% endblock %}
{% block content %}
<div class="container">
  <h2 class="title is-3">Create a new game</h2>
  <p>Set the link to your game</p>
  <div class="container">
    <div class="field has-addons">
      <p class="control">
        <a class="button is-static">
          {{url_for('index', _external=True)|replace("http://", "")|replace("https://", "")}}game/
        </a>
      </p>
      <p class="control is-expanded">
        <input id="input_game_name" class="input is-primary" type="text" placeholder="Game name" pattern="^[^?&:&quot;'%#]+$" title="Game name should not contain any of these characters: ?, &, :, ', &quot;, %, #.">
      </p>
      <div class="control">
        <button id="button_create_game" type="submit" class="button is-primary">Create game</button>
      </div>
    </div>
    <p class="help">Simply enter a name for the game, click the "create game" button, and share the link to your friends!</p>
  </div>
</div>

<div class="container">
  <div class="message is-danger">
    <div class="message-body">
      By creating a game, you certify that you possess a physical copy of the game Dixit. <br>
      This service was created to offer Dixit owners a way to play during the lockdown of the Covid-19 crisis. It is not intended to distribute new digital copies of the game.
    </div>
  </div>
</div>

{% endblock %}
